body {
    margin: auto 0;
    background-color: rgba(220, 220, 220, 0.275);
}

.bg-light {
    background-color: #C11111; 
    color: #210A00; 
}

.table {
    border: 2px solid #210A00; 
}

.table th, .table td {
    border: 1px solid #210A00; 
}


.imprimer {
    border: 1px solid #210A00; 
    color: #210A00; 
}
